html,body{
    
    margin:auto;
}
#pg{
    background-color: white;
    
}

#logo{
    text-align: center;
    height: 50px;
    width: 70px;

}
#lg1{
    height: 150px;
    width: 170px;
}
#bnv{
    text-align: center;
    color: azure;
    background-color: #66ffc2;
    border-radius: 7px;
    height:70px;
    width:300px;
    margin:auto;
}
#e1{
    text-align: center;
    color:red;
    background-color:white;
    border-radius: 7px;
    height:167px;
    width:320;
    margin:auto;
}
#nvb{
    background-color: #66ffc2; 
    color:white;
    border-radius: 8px;
    margin: auto;
    height: auto;
    width: auto;
}
#b{
    color: white;
}
#vid{
    text-align: center;
    height: 200px;
    width: 420px;
}
html{width:100%;
    
}
#ftr{
    text-align:center;
    color:#66ffc2;
    
    height:35px;
    width:300px;
    margin:auto;
}
