html,body{
    
    margin:auto;
}
#pg{
    background-color: #000000;
    
}

#logo{
text-align: center;

}
#lg1{
    height: 50px;
    width: 70px;
}
#bnv{
    text-align: center;
    color: azure;
    background-color: red;
    border-radius: 7px;
    height:70px;
    width:300px;
    margin:auto;
}
#e1{
    text-align: center;
    color:red;
    background-color:white;
    border-radius: 7px;
    height:167px;
    width:320;
    margin:auto;
}
#nvb{
    background-color: red; 
    color:white;
    border-radius: 8px;
    margin: auto;
    height: auto;
    width: auto;
}
#b{
    color: antiquewhite;
}
#vid{
    text-align: center;
}
html{width:100%;
    
}
#ftr{
    text-align:center;
    color:white;
    
    height:35px;
    width:300px;
    margin:auto;
}
